<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Victor</title>
    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/solarized.css">

    <link rel="stylesheet" href="lib/css/zenburn.css">

    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

  </head>

  <body>
    <div class="reveal">
      <div class="slides">
        <section>
          <h1>Victor</h1>
          <h3>Building Monitored, Secured, And Self-Sustaining Hydroponic Gardens</h3>
          <img src="imgs/lettuce.png" style="background:none; border:none; box-shadow:none; height:200px;">
          <h6>Ben Carothers</h6>
        </section>

        <section>
          <h1>Victor is...</h1>
          <ul>
            <li class="fragment">Built to help keep your garden alive</li>
            <li class="fragment">Focused on collecting data</li>
            <li class="fragment">An opinionated framework</li>
          </ul>
        </section>

        <section>
            <h3>Design Criteria</h3>
            <p>Victor should be <b>Scalable</b>, <b>Extensible</b>, and <b>Secure</b></p>
        </section>

        <section>
          <h1> Why? </h1>
          <p>I find a lot of value in gardening</p>
          <img src="imgs/garden.jpg" style="background:none; border:none; box-shadow:none; height:250px;">
          <p class="fragment"> Gardening is hard</p>
        </section>

        <section>
            <h3>Technology should make it easier</h3>
            <img src="imgs/sprinkler.jpg" style="background:none; border:none; box-shadow:none;">
        </section>

        <section>
            <h3>Open Agriculture</h3>
            <ul>
              <li class="fragment">Global population will be over 9 billion by 2050</li>
              <li class="fragment">We're using most arable land and too much water</li>
              <li class="fragment">Food production isn't distributed among food eaters</li>
            </ul>
        </section>

       <section>
            <h3>Hydroponics</h3>
            <h5 class="fragment">Pros</h5>
            <ul>
              <li class="fragment">Higher yields compared to soil gardens</li>
              <li class="fragment">Can grow where generally inhospitable</li>
              <li class="fragment">Semi-closed system</li>
            </ul>
            <h5 class="fragment">Cons</h5>
            <ul>
              <li class="fragment">Constant monitoring and maintenace</li>
              <li class="fragment">System failure and disease</li>
              <li class="fragment">It's only semi-closed</li>
            </ul>
        </section>

       <section>
         <h3>NFT</h3>
         <img src="imgs/nft.jpg" style="background:none; border:none; box-shadow:none; height:450px;">
       </section>

       <section>
         <h3>Gardening is hard</h3>
         <img src="imgs/pvc.jpg" style="background:none; border:none; box-shadow:none; height:450px;">
       </section>

        <section>
            <h3> Service Oriented Architecture</h3>
            <ul>
              <li class="fragment">Container-Gardening</li>
              <li class="fragment">Gardeners-Log</li>
              <li class="fragment">Gardeners-Shed</li>
              <li class="fragment">Victor</li>
            </ul>
        </section>

        <section>
            <section>
                <h1>Container-Gardening</h1>
                <p>Deals with taking measurements, reporting them to the database, and controlling active components</p>
            </section>

            <section>
                <h3>Raspberry Pi</h3>
                <img src="imgs/pi.jpg" style="background:none; border:none; box-shadow:none; height:450px;">
            </section>

            <section>
                <h3>Its Parts</h3>
                <ul>
                  <li class="fragment">The Gardener</li>
                  <li class="fragment">Controllers</li>
                  <li class="fragment">Sensors and Components</li>
                </ul>
            </section>

            <section>
                <h3>Sensors</h3>
                <img src="imgs/temp.jpg" style="background:none; border:none; box-shadow:none; height:450px;">
            </section>

            <section>
                <h3>Each Sensor Runs in a Container</h3>
                  <pre><code class="hljs" data-trim contenteditable>
                    FROM resin/rpi-raspbian:jessie

                    RUN apt-get update && apt-get install -y \
                        git-core \
                        python \
                        python-pip \

                    RUN pip install w1thermsensor
                    RUN pip install schedule 

                    ENV PYTHONPATH="${PYTHONPATH}:/data/container-gardening/reporter/"
                    RUN git clone https://github.com/btcrs/container-gardening.git /data/container-gardening

                    CMD ["python", "/data/container-gardening/temperature/1wire/simple_temperature.py"]
                  </code></pre>

                  <p>docker build -t btcrs/temperature .</p>
            </section>

            <section>
                <h3>Containers are Composed Into Machine Deployments</h3>
                <pre><code class="hljs" data-trim contenteditable>
                    version: '2'
                    services:
                      temperature:
                        environment:
                         - GARDENER
                        build: ../../dockerfiles/temperature/temperature/
                        privileged: true
                        devices:
                         - /dev/ttyAMA0:/dev/ttyAMA0
                         - /dev/mem:/dev/mem
                        volumes:
                         - /data
                         ...
                </code></pre>
            </section>
        </section>

        <section>
            <section>
                <h1>The Other Services</h1>
            </section>

            <section>
                <h1>Victor</h1>
                <b>
                  Uses the other three services to provide a valuable user experience
                </b>
                <ul>
                  <li class="fragment">Angular Web Application</li>
                  <li class="fragment">Hosted on Github Pages</li>
                  <li class="fragment">Primarily Time Series Charts</li>
                </ul>
            </section>

            <section>
                <h3>Dashboard</h3>
                <img src="imgs/dash.png" style="background:none; border:none; box-shadow:none; height:450px;">
            </section>

            <section>
            <h3>Dashboard</h3>
            <pre><code class="hljs" data-trim contenteditable>
<div class="dash-page">
    <div class="dash col-md-12" ng-controller="DashboardController as Chartist">
        <div class="row" ng-repeat='row in Chartist.charts | groupBy:2'>
            <div ng-repeat="item in row" class="col-md-6">
              <chart data="item.data" 
                options="item"
                ng-if="item.data"
                convert-date-field="{{date}}">
              </chart>
            </div>
        </div>
    </div>
</div>
                </code></pre>
            </section>

            <section>
                <h1>Gardeners-Log</h1>
                <b>
                  <p>Handles all CRUD operations for the database</p>
                </b>
                <ul>
                  <li class="fragment">Serverless</li>
                  <li class="fragment">Hosted with Amazon Lambda</li>
                  <li class="fragment">Node functions and DynamoDB</li>
                </ul>
            </section>

            <section>
                <h3>Function</h3>
                <pre><code class="hljs" data-trim contenteditable>
const dynamoDb = new AWS.DynamoDB.DocumentClient();
module.exports.create = (event, context, callback) => {
  const params = {
    TableName: process.env.DYNAMODB_TABLE,
    Item: {
      parameter: data.parameter,
      value: data.value,
      createdAt: timestamp,
    },
  };
  dynamoDb.put(params, (error, result) => {
    if (error) {
      console.error(error);
      return;
    }
  });
};
            </code></pre>
            </section>

            <section>
                <h1>Gardeners-Shed</h1>
                <b>
                  Mediates communication between users and the garden
                </b>
                <ul>
                  <li class="fragment">Similar to Gardeners-Log's Architecture</li>
                  <li class="fragment">Relays messages</li>
                  <li class="fragment">Protects against unauthorized control</li>
                </ul>
            </section>
        </section>

        <section>
            <h1>Security</h1>
            <ul>
              <li class="fragment">Passwords are important</li>
              <li class="fragment">Use best practices</li>
              <li class="fragment">Use third-party providers</li>
              <li class="fragment">Limit the number of Communicators</li>
              <li class="fragment">Open data</li>
            </ul>
        </section>

        <section>
            <h1>Room For Growth</h1>
            <ul>
              <li class="fragment">Victor can scale</li>
              <li class="fragment">Everyone wants data</li>
              <li class="fragment">New parts and sensors</li>
              <li class="fragment">Issues in IoT</li>
            </ul>
        </section>

        <section>
            <h1>Questions?</h1>
        </section>
      </div>
    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>

    <script>
      Reveal.initialize({
        history: true,
        dependencies: [
          { src: 'plugin/markdown/marked.js' },
          { src: 'plugin/markdown/markdown.js' },
          { src: 'plugin/notes/notes.js', async: true },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
        ]
      });
    </script>

  </body>
</html>
